<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <tbody>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="category : ${listcategories}">
        <td th:text="${category.category_id}">
        <td th:text="${category.category_name}">
        <td th:text="${category.created_at}">
        <td th:text="${category.updated_at}">
        <td th:text="${category.status}">


    </tr>

    </tbody>
</table>
</body>
</html>